
<div style="background: darkgreen">
  <div class="row" style="padding-left: 5px;">
    <div class="col s12 m6 l4">
      <h2 style="color: white">Cadastro Vacina</h2>
    </div>
    <div class="col s12 m6 l8">
      <mat-form-field >
        <input matInput placeholder="Data Vacina"  type="date" [(ngModel)]="vacina.dtVacina">
      </mat-form-field>
    </div>
    <div class="col s12 m6 l8">
      <mat-form-field >
        <input matInput placeholder="Peso"  type="text" [(ngModel)]="vacina.peso">
      </mat-form-field>
    </div>
    <div class="col s12 m6 l8">
      <mat-form-field >
        <input matInput placeholder="Dosagem"  type="text" [(ngModel)]="vacina.dosagem">
      </mat-form-field>
    </div>
    <div class="col s12 m6 l8">
      <mat-form-field >
        <input matInput placeholder="Aplicador"  type="text" [(ngModel)]="vacina.aplicador">
      </mat-form-field>
    </div>
    <div class="col s12 m6 l8">
      <mat-form-field >
        <input matInput placeholder="Descrição Medicamento"  type="text" [(ngModel)]="vacina.descMedicamento">
      </mat-form-field>
    </div>
    <mat-form-field>
      <mat-select [(ngModel)]="vacina.idAnimal">
        <mat-option *ngFor="let animal of animais" [value]="animal.idAnimal">
          {{animal.descricao}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="row footer-btn">
    <div class="button-row col s12"> 
      <button *ngIf="!edit" mat-raised-button class="btn btn-primary" (click)="save()">Salvar</button>
      <button *ngIf="edit" mat-raised-button class="btn btn-primary" (click)="update()">Atualizar</button>
    </div>
    </div>
  </div>

  <!------------------------------------->

  <div class="row">
    <div class="col s12">
      <mat-table #table [dataSource]="dataSource" matSort class="table-striped">
  
      <!-- Ações -->
      <ng-container matColumnDef="actionsColumn">
        <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
        <mat-cell *matCellDef="let element">
            <button mat-icon-button>
              <mat-icon matTooltip="Excluir" (click)="excluir(element.idVacina)">delete</mat-icon>
            </button>  
            <button mat-icon-button>
              <mat-icon matTooltip="Editar" (click)="markEdit(element)">edit</mat-icon>
            </button>
        </mat-cell>
      </ng-container>   

      <ng-container matColumnDef="codigo">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Codigo </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.idVacina}} </mat-cell>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="data">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Data </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.dtVacina}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="peso">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Peso </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.peso}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="dosagem">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Dosagem </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.dosagem}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="aplicador">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Aplicador </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.aplicador}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="descricao">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Descrição </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.descricao}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="animal">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Animal </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.idAnimal}} </mat-cell>
      </ng-container>



      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    
  </div>