
<div style="background: darkgreen">
  <div class="row" style="padding-left: 5px;">
    <div class="col s12 m6 l4">
      <h2 style="color: white">Cadastro Animal</h2>
    </div>
    <div class="col s12 m6 l8">
      <mat-form-field >
        <input matInput placeholder="Código"  type="text" [(ngModel)]="animal.idAnimal">
      </mat-form-field>
    </div>
    <div class="col s12 m6 l8">
      <mat-form-field >
        <input matInput placeholder="Descrição"  type="text" [(ngModel)]="animal.descricao">
      </mat-form-field>
    </div>
  </div>
  <div class="row footer-btn">
    <div class="button-row col s12"> 
      <button *ngIf="!edit" mat-raised-button class="btn btn-primary" (click)="save()">Salvar</button>
      <button *ngIf="edit" mat-raised-button class="btn btn-primary" (click)="update()">Atualizar</button>
    </div>
    </div>
  </div>

  <!------------------------------------->

  <div class="row">
    <div class="col s12">
      <mat-table #table [dataSource]="dataSource" matSort class="table-striped">
  
      <!-- Ações -->
      <ng-container matColumnDef="actionsColumn">
        <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
        <mat-cell *matCellDef="let element">
            <button mat-icon-button>
              <mat-icon matTooltip="Excluir" (click)="excluir(element.idAnimal)">delete</mat-icon>
            </button>  
            <button mat-icon-button>
              <mat-icon matTooltip="Editar" (click)="markEdit(element)">edit</mat-icon>
            </button>
        </mat-cell>
      </ng-container>   

      <ng-container matColumnDef="codigo">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Codigo </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.idAnimal}} </mat-cell>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="descricao">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Descrição </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.descricao}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    
  </div>
